.css-8bjq0v-MuiButtonBase-root-MuiButton-root{
    background-color: rgba(100, 89, 7, 0.747);
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: rgba(100, 89, 7, 0.747);
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: rgba(100, 89, 7, 0.747);
}

.css-1dym4ij-MuiButtonBase-root-MuiButton-root{
    color: rgba(100, 89, 7, 0.747);
}

.css-8bjq0v-MuiButtonBase-root-MuiButton-root{
    background-color: rgba(100, 89, 7, 0.747);
}

.css-8bjq0v-MuiButtonBase-root-MuiButton-root :hover{
    background-color: rgba(100, 89, 7, 0.747);
}